.card {
  width: 100%;
  max-width: 800px;
  height: 100%;
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 8px 0;
  padding: 0 20px;
}
.product-num {
  flex: 0 0 50px;
  text-align: left;
  margin-left: 20px;
}
.product-name {
  flex: 1;
  min-width: 300px;
  text-align: left;
}
.product-price {
  flex: 0 0 100px;
  text-align: left;
}
